<!DOCTYPE html>
<html>
<head>
  <title>Bateman Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= ember_app_meta_tags %>
  <%= ember_app_link_tags %>
</head>
<body>
  <%= yield %>
  <%= ember_app_script_tags %>
</body>
</html>
